[submodule "Venn_Diagrams"]
	path = Venn_Diagrams
	url = ../Venn_Diagrams
[submodule "Law_of_Large_Numbers"]
	path = Law_of_Large_Numbers
	url = ../Law_of_Large_Numbers
[submodule "Central_Limit_Theorem"]
	path = Central_Limit_Theorem
	url = ../Central_Limit_Theorem
[submodule "Tree_Diagrams"]
	path = Tree_Diagrams
	url = ../Tree_Diagrams
